.glav-h1 {
    /*width: 60%;*/
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    font-weight: 100;
    margin: 0 auto;
}

/*header*/

.responsive-bar {
    display: none;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
z-index: 1;
    box-sizing: border-box;
    transition: .5s;
}

nav.black {
    background: rgb(68 67 67 / 80%);
}

nav .logo {
    float: left;
}

nav .logo img {
    height: 80px;
    transition: .5s;
}

nav.black .logo img {
    height: 60px;
}

nav > ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    float: right;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a:hover {
    background-color: rgba(250, 249, 249, 0.3);

    color: #fff;
}
.menu img {
    margin-top: 5px;
    width: 45px;
}
nav > ul > li > a {
    color: #262626;
    text-decoration: none;
    font-size: 15px;
    transition: .5s;
}

nav.black > ul > li > a {
    color: #fff;
    line-height: 60px;
}

section.sec1 {
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

section.content {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

section.sec2 {
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

@media (max-width: 400px) {
    #background .content .title {
        width: 96%!important;
        opacity: 0;
        position: absolute;
        top: 68%;
        left: 95%;
        transform: translate(-95%, 46%) !important;
        animation: anim_opacity 1s forwards;
        animation-delay: 2.5s;
    }
}

@media (max-width: 1005px) {

    .foot-media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #background .content .title {
        width: 75%!important;
        opacity: 0;
        position: absolute;
        top: 68%;
        left: 95%;
        transform: translate(-92%, -27%) !important;
        animation: anim_opacity 1s forwards;
        animation-delay: 2.5s;
    }
}

@media (max-width: 768px) {
    .title-nav{
        display: none;
    }
    .main-menu{
        justify-content: space-around
    }


}
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Catamaran:wght@300&family=Quicksand:wght@300&display=swap');
.text-cond p {
    font-family: 'Cairo', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.wrp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.imgLogo {
    background-color: rgba(250, 249, 249, 0.2);
    width: 77px;
}



.main-logo {
    padding-left: 20px;

}
 .main-logo a {
     width: 10px !important;
 }
.menu {
    display: none;
}

.menu-be {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }
    .desc{
        font-size:20px ;
    }

    .menu h4 {
        color: #FFFFFF;
    }

    .menu-fe {
        display: none;
    }
.menu-be{
    display: block;
}
    .imgLogo {
        width: 60px;
    }
}



@media screen and (max-width: 480px)
{
    .desc{
        font-size: 10px;
    }
}



.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sizeFontFoot{
    font-size: 1.3em;
    color: #09C6AB;
}
.cont-box {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cont-box-1{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.viber{
    width: 30px;
}

.subscription {
    position: relative;
    width: 100%;
    height: 100%;
}

.subscription .add-email {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.content-sub {
    width: 360px;
    height: 40px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    border-radius: 60px;
    overflow: hidden;
}

.subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: #4ABEBB;
    color: #FFFFFF;
    transition: width .35s ease-in-out,
    background .35s ease-in-out;
}

.subscription.done .submit-email {
    width: calc(100% - 2px);
    background: #C0E02E;
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
    opacity .35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
}

.subscription .submit-email .after-submit {
    transition-delay: .35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
}

#background {
    top: 0;
    opacity: 0;
    position: relative;
    background-image: url("../images/bg-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    animation: anim_bg 1.5s forwards;
    overflow: hidden;
}

#background::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    /*background-color: rgb(0 98 139 / 92%);*/
    animation: anim_bg 1s forwards;
    animation-delay: 1.5s;
}

#background .content {
    position: relative;
    width: 1080px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}

#background .content .title {
    width: 50%;
    opacity: 0;
    position: absolute;
    top: 65%;
    left: 95%;
    transform: translate(-70%, 50%);
    animation: anim_opacity 1s forwards;
    animation-delay: 2.5s;
}

#background .content .title H1 {
    margin: 0;
    padding: 0;
    color: #FFF;
    background-color: rgba(175, 172, 172, 0.58);

    font-size: 18px;
    letter-spacing: 3px;
    left: 25pc;
    /*top: 100px;*/
    top: 180px;
    padding: 10px;
    border-radius: 10px;
}

#background .content .title H1::before {
    content: '';
    opacity: 0;
    width: 0%;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: anim_title-underline 1s forwards;
    animation-delay: 3s;
}


@keyframes anim_bg {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: 70vh;
    }
}

@keyframes anim_opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes anim_title-underline {
    from {
        opacity: 0;
        width: 0;
        height: 70vh;
    }

    to {
        opacity: 1;
        width: 110%;
        height: 0;
    }
}

.my-h2 h2 {
    font-size: 18px;
    letter-spacing: 1px;
    color: whitesmoke;
}

.text-cond p {
    text-align: start;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 500;

}

@media only screen and (max-width: 1002px) {
    .foot > div{
        column-gap: 100px;
    }
}
@media only screen and (max-width: 766px) {
    .foot > div{
        row-gap: 60px;
    }
}
@media only screen and (max-width: 766px) {
    #background .content .title h1{
        font-size: 16px;
    }
}



.mapouter {
    width: auto!important;
    position: relative;
    text-align: center;
    height: 250px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
}

.gmap_iframe {
    height: 250px !important;
}
.foot{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}